/*=============== Шрифты ===============*/
@font-face {
    font-family: 'FontHEAD';
    src: url('../fonts/') format('truetype');
    /* ... */
}
@font-face {
    font-family: 'FontMAIN';
    src: url('../fonts/') format('truetype');
    /* ... */
}