/*===== Настройки =====*/
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
body {
    display: flex;
    flex-direction: column;
}
/*===== Основной блок =====*/ 
main {
    flex: 1; /* Занимает доступное пространство */
    padding-top: 20px; 
    margin-top: 60px; 
}
section {
    margin-bottom: 20px;
}
section h2 {
    font-weight: bold; /* Это сделает текст заголовка толстым */
}

/*===== Шапка =====*/
header {
    background-color: #af4c4c;
    color: white;
    padding: 20px 0;
    text-align: center;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
}

/*===== Поиск =====*/ 
.Search {
    position: relative;
    text-align: center;
    padding: 100px;
}
#search-input {
    width: 300px;
    padding: 10px;
}
#search-btn {
    padding: 10px;
    margin-left: 10px;
}
/*===== Результат =====*/ 
#results {
    margin-top: 20px;
}


/*===== Самый низ =====*/ 
footer {
    background-color: #189716;
    color: white;
    text-align: center;
    padding: 20px 0;
    width: 100%;
}
