* {
    list-style: none;
    text-decoration: none;
}
/*=============== Шрифты ===============*/
@font-face {
    font-family: 'FontHEAD';
    src: url('../fonts/') format('truetype');
    /* ... */
}
@font-face {
    font-family: 'FontMAIN';
    src: url('../fonts/') format('truetype');
    /* ... */
}

/*===== Настройки =====*/
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #e0e0e0; 
}
body {
    display: flex;
    flex-direction: column;
    background-size: cover;
    color: #dcd0c0;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.7);
    background-image: url("../photo/ALLbackground`s/background.webp") ;
}
hidden {
    display: none;
}
/*===== Основной блок =====*/ 
main {
    flex: 1;
    transition: padding-left 0.3s ease;
}
section {
    margin-bottom: 20px;
}
section h2 {
    font-weight: bold; 
    
}
header, footer {
    background-color: #5C4033;
    color: #f4f4f4; 
}



/*===== Шапка =====*/
header {
    color: white;
    padding: 20px 0;
    text-align: center;
    position: relative;
    top: 0;
    z-index: 1000;
    font-family: 'FontHEAD', sans-serif;
    bottom: 0;
    width: 60%; 
    margin: 1rem auto;
    border-radius: 100px;
    border: 1px solid #1a1a1a;
}


/*===== Боковая навигация с датами (Sidebar) =====*/
.menu {
    padding: 25vh 50px;
    background: rgba(20, 20, 20, 0.9);
    height: 50vh;
    border-right: 10px solid #fcfffc;
    position: fixed;
    left: -350px; 
    transition: left 0.5s ease;
    z-index: 1000;
}
.menu:hover{
    left: 0; 
}
.content-wrapper {
    transition: margin-left 0.5s ease;
}
.menu:hover + .content-wrapper {
    margin-left: 396px; 
}
.title-menu h1 {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 40px;
    color: #fcfffc;
    margin-bottom: 50px;
}
.list_menu a {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 25px;
    color: #fcfffc;
    border-left: 2px solid #906652;
    transition: 0.2s ease;
    padding-left: 5px;
}
.list_menu a:hover {
    border-left: 2px solid #ff0000;
    transition: 0.2s ease;
    padding-left: 10px;
}
.list_menu li {
    margin: 20px 0;
}
.footer_menu p {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 15px;
    color: #fcfffc;
    opacity: 0.7;
}




/*===== Поиск =====*/
.Search {
    display: flex;
    justify-content: center;
    padding: 10px;
}
#search-input {
    padding: 10px 15px;
    margin-right: 10px;
    border: 2px solid #555;  
    border-radius: 25px;
    background-color: transparent;
    color: #fff;
    outline: none; 
    transition: border-color 0.3s ease-in-out;
}

#search-btn {
    padding: 10px 15px;
    border: 2px solid #007BFF; 
    background-color: #007BFF; 
    color: #fff;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
    outline: none; 
}
#search-btn:hover, #search-btn:focus {
    background-color: #0056b3; 
    border-color: #0056b3; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
}
#search-input:focus {
    border-color: #007BFF; 
}

/*===== Результаты =====*/
#results {
    margin-bottom: 30px;
    text-align: center;
    color: #fff;
    background: rgba(0, 0, 0, 0.45);
    border-radius: 30px;
}
#results div {
    margin-bottom: 10px; 
    
}
/*===== Дата =====*/
/* Стиль для закругленного фона даты */
.date-badge {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 15px; 
    background-color: rgb(140, 0, 0);
    color: white;
    margin-bottom: 5px; 
}
/* Стиль для обертки результатов */
.result-wrapper {
    text-align: center; 
    margin-bottom: 15px; 
}





/*===== Слайдер с событиями =====*/
.sliders-container {
    background: rgba(0, 0, 0, 0.6); /* Уменьшение прозрачности */
    border-radius: 15px; /* Мягкие края */
    padding: 20px;
    font-family: 'Vezitsa', Arial, sans-serif;
    font-size: 20px; /* Меньший размер шрифта для большей читаемости */
    color: #ffffff; /* Белый цвет текста для лучшей видимости */
}

.sliders-container::before {
    content: "";
    position: absolute;
    background: rgba(0, 0, 0, 0.45); /* Полупрозрачный черный слой */
    border-radius: 30px; /* Согласование с радиусом границы контейнера */
}
.sliders-container h2 {
    width: 100%;
    text-align: center;
    color: #ffffff;
    margin-bottom: 50px; 
}

.title-container {
    margin-bottom: 30px; 
}

.slider {
    margin: 0 10px;
    width: 100%;
}
.slidersALL {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}
.slide, .slider, .DescContainer, .description, .Year {
    position: relative;
    z-index: 1;
}
.slide {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    text-align: center;
    opacity: 0;
    transition: opacity 1s;
}
.slide.active {
    opacity: 1;
}
.image-container img {
    max-width: 50%;
    border-radius: 10px;
    margin-bottom: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.image-container img:hover {
    transform: scale(1.05); 
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

.DescContainer, .description, .Year {
    color: #e0e0e0; 
}
.DescContainer {
    margin: 0 auto;
    width: 30%;
    font-weight: semi bold;
}
.description {
    max-width: 100%; 
    padding: 10px; 
}
.description, .Year {
    color: #FFFFFF;
}
.description p {
    font-size: 20px;
}
.Year p {
    font-size: 20px;
}




/*===== Самый низ =====*/ 
footer {
    color: #E0E0E0;
    text-align: center;
    padding: 30px 10px;
    position: relative;
    bottom: 0;
    width: 60%; 
    margin: 1rem auto;
    border-radius: 100px;
    border: 1px solid #1a1a1a;
}

footer h2, footer h3, footer p {
    color: #ffffff;
}

footer a {
    color: #E0E0E0;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}


/*===== Адаптация =====*/
@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}


/* Стили для телефонов */
@media (max-width: 600px) {
    header, footer {
        padding: 10px 0; 
    }
    body {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center; /* Центрирует изображение по вертикали и горизонтали */
        background-attachment: fixed; /* Фиксирует фоновое изображение при прокрутке */
        background-image: url("../photo/ALLbackground`s/backgroundMobile.webp");
    }
    .Search {
        padding: 30px 10px 10px; 
    }


    #search-input, #search-btn {
        padding: 15px; 
        font-size: 14px; 
    }

    .menu {
        border-right: 15px solid #3c3c3c;
    }

    main {
        padding-top: 10px;
        padding-bottom: 30px;
    }

    section {
        margin-bottom: 15px;
    }
    
    body {
        font-size: 14px; 
    }
    
    .slidersALL {
        display: block;
    }
}


@media (max-width: 768px) {
    #content.shift {
        margin-left: 0; /* На маленьких экранах не сдвигаем содержимое */
    }

    
}


/* Стили для планшетов */
@media (min-width: 601px) and (max-width: 1024px) {
    header, footer {
        padding: 15px 0; 
    }
    
    .Search {
        padding: 120px 15px 15px; 
    }

    #search-input, #search-btn {
        padding: 9px; 
        font-size: 16px; 
    }

    main {
        padding-top: 15px;
        padding-bottom: 40px;
    }

    section {
        margin-bottom: 18px;
    }

    body {
        font-size: 16px; 
    }
}


