/*===== Адаптация =====*/

/*=== Header.css ===*/
@media (max-width: 768px) {
    /* main-header */
    .main-header {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .header-description {
        max-width: 100% !important;
        margin-top: 10px;
    }
}

/*=== Navigation ===*/
@media (max-width: 768px) {
    .navigation.historical {
        width: 70%;
        padding: 10px;
        box-shadow: none;
    }

    .nav-list {
        flex-direction: column;
        gap: 10px;
    }
    .nav-list li {
        width: 100%;
        display: contents;
    }
    .nav-list a {
        padding: 10px 20px;
        font-size: 14px;
        border-radius: 20px;
    }
    
    .main-header {
        padding: 10px 0;
    }

    .header-title {
        font-size: 24px;
    }

    .header-description {
        font-size: 14px;
    }
}


/*=== Search.css ===*/
@media (max-width: 768px) {
    .form {
        flex-direction: column;
        align-items: center;
        width: 300px;
        border-radius: 10px;
        padding: 0;
    }

    .search-field, .filter-field, #search-btn {
        width: 100%;
        font-size: 14px;
        padding: 12px;
        border-radius: 0;
    }

    #search-btn {
        border-radius: 0 0 10px 10px;
    }

    .filter-field {
        border-radius: 0 0 10px 10px;
    }

    #century-filter {
        width: none;
    }
}

/* results */
@media (max-width: 600px) {
    #results {
        width: 100%;
        max-width: 300px !important;
        margin: 1rem auto;
        max-height: 200px;
    }

    #results div {
        padding: 8px;
        margin: 5px 0;
        font-size: 14px;
        border-radius: 8px;
    }

    .result-wrapper h4 {
        font-size: 14px;
    }

    .result-wrapper p {
        font-size: 14px;
    }
}

/* message */
@media (max-width: 768px) {
    .message.container {
        flex-direction: column;
        align-items: center;
    }

    #results div, .event, #error-message {
        padding: 10px;
        margin: 5px 0;
        font-size: 14px;
        border-radius: 10px;
    }
}

/* Стили для телефонов */
@media (max-width: 600px) {
    .container {
        padding: 0px;
    }


    /* body */
    body {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed; 
        background-image: url("../photo/background`s/background-Mobile.webp");
        font-size: 14px; 
        position: relative;
        z-index: 1; 
    }

    body::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        z-index: -1;
    }


    /* main */
    main {
        padding-top: 10px;
        padding-bottom: 30px;
    }

    /* section */
    section {
        margin-bottom: 15px;
    }

    /* menu */
    .menu {
        border-right: 15px solid #3c3c3c;
    }

    /* slidersALL */
    .slidersALL {
        display: block;
    }

    /* collage */
    .collage {
        grid-template-columns: 1fr;
    }
    .collage .photo-description {
        padding: 0.5rem;
        font-size: 0.9rem; 
    }
}

@media (max-width: 768px) {
    * {
        list-style: none;
        text-decoration: none;
        box-sizing: content-box;
    }
    
    /* content */
    #content.shift {
        margin-left: 0; 
    }

    /* menu-icon */
    .menu-icon {
        display: block;
    }

    /* menu */
    .menu {
        left: -310px;
    }
    .menu:hover {
        left: 0;
    }
}

/*=== gallery.css ===*/
@media (max-width: 600px) {
    .collage {
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 1.5rem;
    }
    .collage-photo {
        min-width: 100% !important;
        flex: 1 1 100%;
        margin: 0 auto;
    }

    .scroll-left, .scroll-right {
        display: block;
    }

    .collage {
        overflow-x: hidden; 
    }
}

@media (min-width: 601px) {
    .scroll-left, .scroll-right {
        display: none;
    }

    .collage {
        overflow-x: auto;
    }
}

/*=== podcasts.css ===*/
@media (max-width: 768px) {
    .podcast-list {
        flex-direction: column;   
        width: 90%;
    }
    .podcast {
        width: 90% !important;
    }

    .podcast_audio {
        width: 90%;
    }
}

/*=== articles.css ===*/
@media (max-width: 768px) {
    .article-list {
        display: flex;
        flex-direction: column;
    }
    .article {
        width: 85%;
        margin-bottom: 20px;
    }

    .modal-content-wrapper {
        flex-direction: column;
    }
    .modal-image {
        width: 90% !important;
    }
}




/* Стили для планшетов */

/*=== reset.css ===*/
@media (min-width: 601px) and (max-width: 1024px) {
    * {
        list-style: none;
        text-decoration: none;
        box-sizing: content-box;
    }

    /* header, footer */
    header, footer {
        padding: 15px 0; 
    }

    /* body */
    body {
        font-size: 16px; 
    }

    /* main */
    main {
        padding-top: 15px;
        padding-bottom: 40px;
    }

    /* section */
    section {
        margin-bottom: 18px;
    }
}
