/* Стили для статей, аналогичные стилям для подкастов */
.articles {
    flex-direction: column;
    margin: 2rem;
    padding: 20px;
    background-color: #0a0a0ae6;
    color: var(--color-white);
    border-radius: 20px;
    box-shadow: 0 4px 8px var(--color-shadow);
}

.article-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    width: 100%;
}

.article {
    background-color: #4C4945;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 2px 4px var(--color-shadow);
}

.article-title {
    font-family: 'Header-TITLE', sans-serif;
    font-size: 30px;
    text-align: center;
}

.article h3 {
    font-family: 'Header-TITLE', sans-serif;
    font-size: 30px;
    text-align: center;
}
.article p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    line-height: 1.5;
    color: #D9BFA2;
}
