/*=============== Шрифты ===============*/
@font-face {
    font-family: 'Header-TITLE';
    src: url('../fonts/MorfinSans-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Header-DESC';
    src: url('../fonts/dance_partner_0.ttf') format('truetype');
}

@font-face {
    font-family: 'Seminaria';
    src: url('../fonts/Seminaria.ttf') format('truetype');
}

@font-face {
    font-family: 'Salwey';
    src: url('../fonts/Salwey/Salwey.otf');
}
