/*===== Footer =====*/ 
footer {
    text-align: center;
    color: #fff;
    background-color: #000;
    margin: 2rem;
    padding: 2rem;
    border-radius: 10px;
    font-size: 14px;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.5); 
}

/*=== Footer-text ===*/
footer p {
    opacity: 0.7;
    transition: opacity 0.3s ease; 
    text-align: center;
}
footer p:hover {
    opacity: 1; 
}

/*=== Footer Link ===*/
.footer-link {
    color: inherit;
    text-decoration: underline;
}
.footer-link:hover {
    opacity: 0.9;
}