/*===== Шапка =====*/
.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(10, 10, 10, 0.9); 
    color: #fff;
    padding: 2rem;
    border-radius: 10px;
    margin: 2rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.header-title {
    font-size: 3em;
    font-weight: bold;
    font-family: 'Header-TITLE', sans-serif;
}
.header-description {
    text-align: center;
    font-size: 1.1em;
    font-family: 'Header-DESC', sans-serif;
    max-width: 50%;
    line-height: 1.6; 
}

.header-action {
    color: #4e9af1;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}
.header-action:hover {
    color: #81baf6;
}
