/*===== Боковая навигация с датами (Sidebar) =====*/
/*== Первый сайдбар ==*/
#sidebar-1 {
    left: -370px;
}

#menu-icon1 {
    left: 0px;
}
.menu-open #menu-icon1 {
    left: 330px;
}


.menu {
    padding-top: 10vh;
    width: 370px; 
    background: linear-gradient(145deg, rgba(20, 20, 20, 0.9), rgba(35, 35, 35, 0.9));
    height: 100vh;
    border-right: 20px solid #fcfffc00;
    position: fixed;
    left: -370px;
    transition: left 0.5s ease;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow-y: auto; 
}

.menu-content {
    padding: 45px;
}

.menu-icon {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 50px;
    height: 50px;
    background-color: #F4E4BC;
    border: 2px solid #6B4E16;
    z-index: 1001;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s, left 0.5s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-icon img {
    width: 24px;
    height: 24px;
}
.menu-icon.active img {
    animation: rotate 0.5s ease forwards;
}

.menu-open .menu-icon {
    left: 330px;
    background-color: #333; 
}

.title-menu h1 {
    font-family: 'Header-TITLE', sans-serif;
    font-size: 50px;
    color: #fcfffc;
    margin-bottom: 30px; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.list_menu {
    max-height: 70vh; 
    overflow-y: auto;
    font-family: 'Header-DESC', sans-serif;
}

.list_menu a {
    display: block; 
    white-space: nowrap;
    font-size: 25px;
    color: #fcfffc;
    border-left: 4px solid #906652; 
    transition: all 0.3s ease; 
    padding-left: 5px;
    cursor: pointer;
}

.list_menu a:hover {
    border-left: 4px solid #ff0000;
    padding-left: 15px;
}

.list_menu li {
    margin-right: 10px;
    padding-top: 10px;
    flex: 1 0 21%;
}

.list_menu ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 1px;
    margin: 20px 0;
}

.footer_menu p {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 15px;
    color: #fcfffc;
    opacity: 0.7;
    transition: opacity 0.3s ease;
}

.footer_menu p:hover {
    opacity: 1;
}

@media screen and (max-width: 768px) {
    .menu {
        width: 300px;
        left: -300px;
    }

    .menu-open .menu-icon {
        left: 270px;
    }
}

@media screen and (max-width: 480px) {
    .menu-open .menu-icon {
        left: 260px;
    }

    .menu-icon {
        width: 60px;
        height: 60px;
    }

    .menu-icon img {
        width: 30px;
        height: 30px;
    }
}

@media screen and (max-height: 450px) {
    .menu {
        padding-top: 15px;
    }

    .list_menu a {
        font-size: 18px;
    }
}