* {
    list-style: none;
    text-decoration: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/*===== Сброс стилей =====*/
html {
    scroll-behavior: smooth;
}
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #e0e0e0; 
}
body {
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    color: #dcd0c0;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.7);
    background-image: url("../photo/background`s/background.webp") ;
}
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
}
.container {
    display: flex;
    align-items: center;
    padding: 50px;
    margin: 0 auto;
}
/*===== Основной блок =====*/ 
main {
    flex: 1;
    transition: padding-left 0.3s ease;
}
section {
    margin-bottom: 20px;
}
section h2 {
    font-weight: bold; 
}

.section {
    display: none;
}
.section.active {
    display: contents; 
}