/*===== Поиск =====*/
.search.container.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#century-filter-wrapper::after {
    content: "";
    color: #000;
    font-size: 18px;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none; 
    background-image: url('../photo/icon/icon-arrow.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 850px;
    background-color: white;
    border: 1px solid #000;
    border-radius: 15px;
    overflow: hidden;
    padding: 5px;
}

.search-form {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 850px;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
}
.search-form select {
    border-left: 1px solid #000;
}
.search-form form {
    border: 1px solid #000;
}

.search-field {
    flex: 2;
    padding: 15px 20px;
    border: none;
    outline: none;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}
.search-field:first-of-type {
    border-radius: 15px 0 0 15px;
}
.search-field::placeholder {
    font-style: italic;
}

/*=== Кнопка поиска ===*/
#search-btn {
    flex: 1;
    padding: 15px 20px;
    border: none;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    outline: none;
    transition: background-color 0.3s ease;
}

/*===== Результаты =====*/
#results {
    margin: 20px 0;
    background-color: var(--color-result-bg);
    color: var(--color-text-alt);
    border-radius: 5px;
    padding: 20px;
    width: 100%;
    max-width: 900px;
    max-height: 400px;
    overflow: auto;
    font-family: 'Seminaria';
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--color-bg);
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

#results div {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    transition: background 0.3s, transform 0.3s;
}
#results div:hover {
    background: var(--color-result-hover-bg);
    color: var(--color-text);
    transform: translateY(-10px);
}

.result-wrapper {
    margin-bottom: 15px;
}

.result-wrapper h4 {
    font-size: 18px;
    margin-bottom: 5px;
    color: var(--color-text-alt);
}
.result-wrapper p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
    word-wrap: break-word;
    color: var(--color-text-alt);
}

/* Стиль для событий */
.event {
    border: 1px solid #e0e0e0;
    padding: 15px;
    margin: 15px 0;
    border-radius: 5px;
    background: var(--color-bg-alt);
    color: var(--color-text-alt);
    transition: border-color 0.3s ease, background 0.3s ease, color 0.3s ease;
}
.event:hover {
    border-color: var(--color-result-hover-bg);
    background: #fafafae6;
    color: var(--color-hover);
}

.message {
    display: flex;
    justify-content: center;
}

/* Стиль для сообщений об ошибках */
#error-message {
    margin: 20px 0;
    text-align: left;
    background-color: var(--color-result-bg);
    color: var(--color-text-alt);
    border-radius: 5px;
    padding: 20px;
    width: 100%;
    max-width: 900px;
    max-height: 400px;
    overflow: auto;
    font-family: 'Header-TITLE', sans-serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #e0e0e0;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

/* Стиль для сообщений о том, что события не найдены */
#not-found, #error-message {
    text-align: center;
    color: var(--color-error);
    background-color: var(--color-error-bg);
    border: 1px solid var(--color-error);
    border-radius: 5px;
    padding: 20px;
    margin: 20px 0;
    font-size: 26px;
    transition: all 0.3s ease-in-out;
}


/*===== Случайное событие =====*/
.random-event {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

/*===== Фильтр по поиску =====*/
#century-filter-wrapper {
    position: relative;
    width: 40px; 
    overflow: hidden;
    transition: width 0.3s ease;
}

#century-filter {
    padding: 15px 20px;
    border: none;
    background-color: white;
    font-size: 21px;
    font-family: 'Header-TITLE', sans-serif;
    outline: none;
    cursor: pointer;
    border-radius: 0; 
    transition: background-color 0.3s ease, width 0.3s ease;
    white-space: nowrap;
    text-align: right;
}

#century-filter-wrapper.open {
    width: 300px;
}

#century-filter::after {
    content: "\25BC"; 
    font-size: 18px;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
}

#century-filter-wrapper.open #century-filter::after {
    content: "";
}

#century-filter-wrapper.open #century-filter::before {
    content: "Век: ";
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
}



/*=== Стили фильтра ===*/
.filter-field {
    flex: 1.5;
    padding: 15px 20px;
    border: 1px solid #000;
    border-left: none;
    outline: none;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    background-color: white;
    border-radius: 0 15px 15px 0;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.filter-field:hover, .filter-field:focus {
    background-color: #f0f0f0;
    border-color: #333;
}

.filter-field:active {
    background-color: #e9e9e9;
    border-color: #000;
}