/*===== Боковая навигация с датами (Sidebar) =====*/
.menu {
    padding-top: 10vh;
    width: 350px; 
    background: linear-gradient(145deg, rgba(20, 20, 20, 0.9), rgba(35, 35, 35, 0.9));
    height: 100vh;
    border-right: 20px solid #fcfffc00;
    position: fixed;
    left: -350px;
    transition: left 0.5s ease;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow-y: auto; 
}

.menu-content {
    padding: 40px;
}

.menu-icon {
    position: fixed;
    left: 20px;
    top: 0px;
    width: 50px;
    height: 50px;
    background-color: #F4E4BC;
    color: #3E280B;
    border: 2px solid #6B4E16;
    z-index: 1001;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s, left 0.5s ease; 
    font-size: 24px;
    text-align: center;
    line-height: 50px;
}

.menu-icon::before {
    content: '\2630';
}

.menu-open .menu-icon {
    left: 330px; /* Ширина меню + отступ справа */
    background-color: #333; 
}

.title-menu h1 {
    font-family: 'Header-TITLE', sans-serif;
    font-size: 50px;
    color: #fcfffc;
    margin-bottom: 30px; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.list_menu {
    max-height: 70vh; 
    overflow-y: auto;
    font-family: 'Header-DESC', sans-serif;
}

.list_menu a {
    display: block; 
    white-space: nowrap;
    font-size: 25px;
    color: #fcfffc;
    border-left: 4px solid #906652; 
    transition: all 0.3s ease; 
    padding-left: 5px;
    cursor: pointer;
}

.list_menu a:hover {
    border-left: 4px solid #ff0000;
    padding-left: 15px;
}

.list_menu li {
    margin-right: 10px;
    padding-top: 10px;
    flex: 1 0 21%;
}

.list_menu ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 1px;
    margin: 20px 0;
}

.footer_menu p {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 15px;
    color: #fcfffc;
    opacity: 0.7;
    transition: opacity 0.3s ease;
}

.footer_menu p:hover {
    opacity: 1;
}
