/*=============== Шрифты ===============*/
@font-face {
    font-family: 'FontHEAD';
    src: url('../fonts/MorfinSans-Regular.ttf') format('truetype');
    /* ... */
}
@font-face {
    font-family: 'FontMAIN';
    src: url('../fonts/') format('truetype');
    /* ... */
}
@font-face {
    font-family: 'FontDESC';
    src: url('../fonts/dance_partner_0.ttf') format('truetype');
    /* ... */
}